{% extends 'base.html.twig' %}

{% block title %}Notre mission | {{ parent() }}{% endblock %}

{% block body %}
    <div class="container">
        <div class="d-flex justify-content-center my-5">
            <div class="w-50">
                <h3 class="text-center">Qui sommes-nous ?</h3>
                <hr class="mx-auto my-4 w-25">
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, 
                sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. 
                Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.<br>
                Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. 
                Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>

                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, 
                sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. 
                Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.<br>
                Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. 
                Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
            </div>
            <div class="w-50">
                <img class="img-fluid" src="{{ asset('./assets/images/arbre-vert.jpg') }}" alt="Un arbre vert">
            </div>
        </div>
    </div>
{% endblock %}
