{% extends "base.html.twig" %}

{% block stylesheets %}
    {{ parent() }}
{% endblock %}

{% block title %}Modifier le post{% endblock %}

{% block body %}
    <div class="container">
		<div class="row">
			<div class="col s12 m12 l8 offset-l2">
				<h1 class="text-center">Modifier le post</h1>
			</div>
		</div>

		<div>
		    {% if post.picture is not null %}
			    <img src="{{ asset('uploads/' ~ post.picture) }}">
			{% endif %}
		</div>

		{% include "includes/post_form.html.twig" %}
	</div>
{% endblock %}