{% extends "base.html.twig" %}

{% block stylesheets %}
	{{ parent() }}
{% endblock %}

{% block title %}Ajouter une catégorie
{% endblock %}

{% block body %}
	<div class="container my-5">
		<h1 class="text-center my-5">Ajouter une catégorie</h1>

		{% include "includes/category_form.html.twig" %}
	</div>
{% endblock %}
