{% extends 'base.html.twig' %}

{% block title %}Dashboard
{% endblock %}

{% block body %}
	<div class="container my-5">
		<h1 class="text-center my-5">DASHBOARD</h1>

		<div class="my-5">
			<a href="/admin/category" class="btn btn-success">Les catégories</a>
		</div>

		<div class="my-5">
			<a href="/admin/users" class="btn btn-success">Les membres</a>
		</div>

		<div class="my-5">
			<a href="/admin/posts" class="btn btn-success">Les posts</a>
		</div>
	</div>
{% endblock %}
